body{
    background-color: pink;
    text-align: center;
}
.title{
    padding: 50px;
}
.back{
    border: 2px solid indianred;
    width: 400px;
    height: 50px;
    font-size: 30px;
    margin-bottom: 30px;
    display: inline-block;
    text-align: right;
}
.box2{
    background-color: indianred;
    width: 60px;
    height: 45px;
    margin-bottom: 3px;
    margin-top: 3px;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 23px;
}

.box{
    background-color: indianred;
    width: 100px;
    height: 45px;
    margin-right: 5px;
    margin-bottom: 3px;
    margin-top: 3px;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 23px;
}
div input{ 
    background-color: lightcoral;
    width: 100px;
    height: 45px;
    border: none;
    margin-right: 5px;
    margin-bottom: 3px;
    margin-top: 5px;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

#output{
    border: 2px solid #aaa;
    font-size: 1.5em;
    margin-top: 10px;
    padding: 5px;
}